@charset "UTF-8";
.h3 {
    background-color: dimgray;
    color: white;
    padding: 0.3em;
}

p {
    margin-bottom: 30px;
}

.space-side {
    margin: 0 20;
}
.btn_upload {
  text-align: center;
}
