input.newAccount_btn {
	font-size:30px;
	position: relative;
	display: white;
	width: 300px;
	padding: 0.05em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
    border-bottom: 2px solid #00838F;
    border-radius: 40px; 
}

input.newAccount_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(241, 233, 233, 0.945);
}